%h3
  - if logged_in?
    Cards in
    %a{ href: "/decks/#{@deck.id}" }= @deck.name
  - else
    = "Cards in #{@deck.name} (login to play)"

- if @deck.created_by?(current_user)
  #cards-index-new-card-form= haml :'cards/_form', locals: { card: Card.new, deck: @deck }, layout: false

- if @cards && @cards.any?
  %table
    %tr.cards-index-header-row
      %th Question
      %th Answer
      %th Correct Streak
      - if @deck.created_by?(current_user)
        %th Edit
        %th Delete
    - @cards.each do |card|
      = haml :'cards/_row', locals: { card: card, deck: @deck, game: @game }, layout: false
- else
  %p.no-cards-message= "Doesn't look like #{@deck.name} has any cards"
